certifi==2020.12.5
chardet==4.0.0
click==7.1.2
evdev==1.4.0
ffmpeg==1.4
gTTS==2.2.2
idna==2.10
keyboard==0.13.5
mpyg321==1.1.0
numpy==1.19.5
opencv-contrib-python==4.5.1.48
pexpect==4.8.0
picamera==1.13
Pillow==8.1.0
ptyprocess==0.7.0
PyAudio==0.2.11
pydub==0.25.1
pynput==1.7.3
pytesseract==0.3.7
python-xlib==0.29
requests==2.25.1
RPi.GPIO==0.7.0
six==1.15.0
urllib3==1.26.3
